.back {
	background-color: rgb(21, 21, 21);
	display: flex;
	height: 300px;
	width: 850px;
}

.circle{
	width: 360px;
	height: 100%;
}

.circle_1{
	height: 220px;
	width: 220px;
	background-color: rgba(21, 21, 21, 0);
	border-radius: 50%;
	border: 1px solid white;
	position: relative;
	left: 40px;
	top: 45px;
}

.circle_2{
	height: 140px;
	width: 140px;
	background-color: rgba(21, 21, 21, 0);
	border-radius: 50%;
	border: 1px solid white;
	position: relative;
	left: 210px;
	top: -140px;
}

.circle_3{
	height: 90px;
	width: 90px;
	background-color: rgb(194, 215, 198);
	border-radius: 50%;
	position: relative;
	left: 310px;
	top: -255px;
}

.text_1{
	color: rgb(230, 230, 230);
	font-size: 20px;
	margin-left: 130px;
	margin-top: 30px;
}

.text_2{
	margin-top: 40px; 
	margin-left: 10px;
	width: 280px;
	
}

.text_2 h1 {
	font-size: 30px;
	color: rgb(230, 230, 230);
	font-weight: 100;
}

.text_2 p {
	font-size: 10px;
	color: rgb(209, 209, 209);
	line-height: 1.5;
}