.index{
	display: flex;
	margin: 20px;
}

.back {
	height: 300px; 
	width: 300px;
	background-color: black;
	border-radius: 5%;
}

.planeta {
	height: 40%; 
	width: 40%;
	position: relative;
	background-color: rgb(255,208,171);
	border-radius: 50%;
	left: 30%;
	top: 30%;

	transform: rotate(25deg);
}

.star_1{
	height: 3%; 
	width: 3%;
	position: relative;
	background-color: white;
	border-radius: 50%;
	left: 15%;
	top: -25%;
	animation-name: mer;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.star_2{
	height: 4%; 
	width: 4%;
	position: relative;
	background-color: white;
	border-radius: 50%;
	left: 85%;
	animation-name: mer;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-delay: 1s;
}

.star_3{
	height: 2%; 
	width: 2%;
	position: relative;
	background-color: white;
	border-radius: 50%;
	left: 85%;
	top: 25%;
	animation-name: mer;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-delay: 3s;
}

.star_4{
	height: 3%; 
	width: 3%;
	position: relative;
	background-color: white;
	border-radius: 50%;
	left: 15%;
	top: 5%;
	animation-name: mer;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-delay: 2s;
}

.star_5{
	height: 3%; 
	width: 3%;
	position: relative;
	background-color: white;
	border-radius: 50%;
	left: 60%;
	top: 35%;
	animation-name: mer;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-delay: 3s
}

@keyframes mer{
	0% {background-color: rgba(255, 255, 255, 1);}
	50% {background-color: rgba(255, 255, 255, 0);}
	100% {background-color: rgba(255, 255, 255, 1);}
}

.text {
	width: 30%;
	margin-left: 5%;
  left:300px;
  top:15px;
  position:absolute;
}

 .text p{
 	font-size: 34px;
}


#rcorners {
  position:absolute;
  border-radius: 1em / 1em;
  background: #bc804c;
  padding: 5px;
  width: 45px;
  height: 1px;
  top: 120px;
  left:170px;
  z-index:1;
}
#rcorners_2 {
  position:absolute;
  border-radius: 1em / 1em;
  background: #bc804c;
  padding: 5px;
  width: 85px;
  height: 1px;
  top: 139px;
  left: 145px;
  z-index:1;
}
#rcorners_3 {
  position:absolute;
  border-radius: 1em / 1em;
  background: #bc804c;
  padding: 5px;
  width: 75px;
  height: 1px;
  top: 158px;
  left: 157px;
  z-index:1;
}
#rcorners_4 {
  position:absolute;
  border-radius: 1em / 1em;
  background: #bc804c;
  padding: 5px;
  width: 20px;
  height: 1px;
  top: 180px;
  left: 145px;
  z-index:1;
}
#rcorners_5 {
  position:absolute;
  border-radius: 1em / 1em;
  background: #bc804c;
  padding: 5px;
  width: 55px;
  height: 1px;
  top: 195px;
  left:125px;
  z-index:1;
}
#rcorners_6 {
  position:absolute;
  border-radius: 1em / 1em;
  background: #bc804c;
  padding: 5px;
  width: 10px;
  height: 1px;
  top: 195px;
  left: 195px;
  z-index:1;
}
#rcorners_7 {
  position:absolute;
  border-radius: 1em / 1em;
  background: #bc804c;
  padding: 5px;
  width: 35px;
  height: 1px;
  top: 214px;
  left:135px;
  z-index:1;
}
#cavity_1 {
  position:absolute;
  background: #bc804c;
  padding: 5px;
  width: 15px;
  height: 3px;
  top: 127px;
  left:180px;
  z-index:1;
}
#cavity_1_1 {
  position:absolute;
  border-radius: 1em / 1em;
  background:rgb(255,208,171);
  width: 15px;
  height: 8px;
  top: 131px;
  left:170px;
  z-index:1;
}
#cavity_1_2{
  position:absolute;
  border-radius: 1em / 1em;
  background:rgb(255,208,171);
  width: 15px;
  height: 8px;
  top: 131px;
  left:200px;
  z-index:1;
}
#cavity_2 {
  position:absolute;
  background: #bc804c;
  padding: 5px;
  width: 15px;
  height: 3px;
  top: 150px;
  left:195px;
  z-index:1;
}
#cavity_2_1 {
  position:absolute;
  border-radius: 1em / 1em;
  background:rgb(255,208,171);
  width: 15px;
  height: 8px;
  top: 150px;
  left:185px;
  z-index:1;
}
  #cavity_2_2 {
  position:absolute;
  border-radius: 1em / 1em;
  background:rgb(255,208,171);
  width: 15px;
  height: 8px;
  top: 150px;
  left:215px;
  z-index:1;
}
#cavity_3 {
  position:absolute;
  background: #bc804c;
  padding: 5px;
  width: 15px;
  height: 3px;
  top: 205px;
  left:150px;
  z-index:1;
}
#cavity_3_1 {
  position:absolute;
  border-radius: 1em / 1em;
  background:rgb(255,208,171);
  width: 15px;
  height: 8px;
  top: 206px;
  left:140px;
  z-index:1;
}
  #cavity_3_2 {
  position:absolute;
  border-radius: 1em / 1em;
  background:rgb(255,208,171);
  width: 15px;
  height: 8px;
  top: 206px;
  left:170px;
  z-index:1;
}
.planet_transparent {
	height: 40%; 
	width: 40%;
	position: relative;
	background-color: rgb(255,208,171,0);
	border-radius: 50%;
	left: 30%;
	top: -30px;
	box-shadow: inset -13px -13px  rgba(0, 0, 0, 0.3), inset -32px -32px rgba(0, 0, 0, 0.2),0 0 15px 20px black;
	transform: rotate(25deg);
  z-index:2;
}