body {
  background-color: #fff;
}
#circle {
  position: absolute;
  background-color: blue;
  margin: 230px auto;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  position: relative;
  left:5px;
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#textline{
  position: absolute;
  top: 30%;
  left: 1%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 100px;
  transform: rotate(10deg);
  background-color:black;
  padding:50px;
}
#textline2{
  position: absolute;
  top: 30%;
  left: 1%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 100px;
  transform: rotate(-10deg);
  background-color:black;
  padding:50px;
}

#circle:hover {
    transform: scale(1.5); 
}
.container {
  display: grid;
  grid-template-columns: 5fr -5fr 5fr;
} 